.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-error {
	background-color: #c55858;
	color: white;
	padding: 0.75rem;
	font-size: 1rem;
	border-radius: 7px;
	margin-bottom: 1.2rem;
}

input {
	padding: 0.75rem;
	font-size: 1.1rem;
	border-radius: 6px;
	border: 1px solid #ccc;
	margin-bottom: 0.55rem;
	width: 100%;
}

input:last-child {
	margin-bottom: 0;
}

.app-content {
	padding: 1.45rem;
	background-color: white;
	border-radius: 12px;
	border: 1px solid #ccc;
	color: #3a3a3a;
	text-align: left;

	width: 65%;
	max-width: 40rem;
}

.item {
	padding: 0.55rem 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	font-size: 1.2rem;
}

.button {
	width: 100%;
	padding: 0.95rem 0;
	background-color: #5b5bf6;
	color: white;
	border: 0;
	border-radius: 6px;
	font-size: 0.95rem;
	cursor: pointer;

	-moz-apperance: none;
	apperance: none;
}

.button:hover {
	background-color: #7c7cf8;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
